<%- include('base', { 
  body: `
    <div class="container my-4">
      <h1>Лог ошибок</h1>
      <pre>${log}</pre>
      <a href="/" class="btn btn-primary">Вернуться на главную</a>
    </div>
  `
}) %>