<%- include('base', { 
  body: `
    <div class="container my-4 text-center">
      <h1>Добро пожаловать в TaskFlow</h1>
      <p>Минималистичный таск-менеджер для повседневных задач.</p>
      <a href="/login" class="btn btn-outline-primary me-2">Вход</a>
      <a href="/register" class="btn btn-primary">Регистрация</a>
    </div>
  `
}) %>